* {
  box-sizing: border-box;
  margin: 0;
}
.navp {
  display: flex;
}

.civilogo {
  height: 60px;
}
.navd2 {
  padding-top: 20px;
  padding-left: 50px;
}
.navd2i {
  text-decoration: none;
  color: rgb(62, 115, 230);
  border-style: solid;
  border-radius: 5px;
  padding: 5px;
}
.nav2dii {
  text-decoration: none;
  padding-left: 30px;
  color: black;
}
.nav2dii:hover {
  color: rgb(62, 115, 230);
}
.nav2diii {
  text-decoration: none;
  padding-left: 30px;
  color: black;
}
.nav2diii:hover {
  color: rgb(62, 115, 230);
}
.nav2div {
  text-decoration: none;
  padding-left: 30px;
  color: black;
}
.nav2div:hover {
  color: rgb(62, 115, 230);
}
#nav2dv {
  text-decoration: none;
  padding-left: 30px;
  color: black;
}
#nav2dv:hover {
  color: rgb(62, 115, 230);
}
.navd3 {
  display: flex;
  margin-left: 80px;
  padding-top: 20px;
}
#navd3i {
  padding-left: 20px;
  font-size: smaller;
  opacity: 0.8;
}
#navd3i:hover {
  color: rgb(62, 115, 230);
}
#ngl {
  height: 25px;
  padding-left: 30px;
}
#navd3ii {
  padding-left: 30px;
  font-size: smaller;
  opacity: 0.8;
}
#navd3ii:hover {
  color: rgb(62, 115, 230);
}
#navd3iii {
  padding-left: 30px;
  font-size: smaller;
  opacity: 0.8;
}
#navd3iii:hover {
  color: rgb(62, 115, 230);
}
.navd3iv {
  padding-left: 30px;
  text-decoration: none;
  color: black;
  opacity: 0.8;
}
.navd3iv:hover {
  color: rgb(62, 115, 230);
}
.navd3v {
  padding-left: 30px;
  text-decoration: none;
  color: black;
  opacity: 0.8;
}
.navd3v:hover {
  color: rgb(62, 115, 230);
}
.navd4 {
  margin-left: 20px;
  background-color: orange;
  margin-top: 10px;
  margin-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.navd4:hover {
  background-color: darkorange;
}
.navd4i {
  color: white;
  text-decoration: none;
}
#rnav {
  color: white;
  display: none;
}

#srnav {
  color: white;
  display: none;
}

#opicon {
  display: none;
}

#exicon {
  display: none;
}

#rlist {
  width: 100%;
  display: none;
  flex-direction: column;
  height: 100%;
  font-size: 1.1rem;
  background-color: white;
  backdrop-filter: blur(20px);
  margin-left: 50%;
}

div li {
  list-style-type: none;
  display: flex;
  padding: 15px;
  gap: 5px;
  color: white;
  align-items: center;
  cursor: pointer;
  position: relative;
  transition-duration: 0.2s;
  font-size: 0.8rem;
}

div li:hover {
  color: #80ed99;
}

div li::after {
  position: absolute;
  width: 100%;
  left: 0px;
  height: 1px;
  background: linear-gradient(to left, transparent, #ffffff24, transparent);
  content: "";
  bottom: 0px;
}

.Links {
  display: flex;
  flex-direction: column;
  margin: auto;
}


@media (max-width: 768px) {
  * {
    box-sizing: border-box;
    margin: 0;
  }
  #rnav {
    display: flex;
    padding: 10px;
  }

  #srnav {
    display: none;
    padding: 10px;
  }
  #opicon {
    display: flex;
    margin-top: 10px;
    margin-right: 10px;
  }

  #exicon {
    display: flex;
    margin-top: 10px;
    margin-right: 10px;
  }
  #rlist {
    width: 50%;
    display: none;
    flex-direction: column;
    height: 100%;
    font-size: 1.1rem;
    background-color: white;
    backdrop-filter: blur(20px);
  }
  
  div li {
    list-style-type: none;
    display: flex;
    padding: 20px;
    gap: 10px;
    color: black;
    align-items: center;
    cursor: pointer;
    position: relative;
    transition-duration: 0.2s;
  }
  
  div li:hover {
    color: rgb(62, 115, 230);
  }
  
  div li::after {
    position: absolute;
    width: 100%;
    left: 0px;
    height: 1px;
    background: linear-gradient(to left, transparent, #ffffff24, transparent);
    content: "";
    bottom: 0px;
  }

  .Links {
    display: flex;
    flex-direction: column;
    margin: auto;
  }
  .navp {
    display: flex;
    justify-content: space-between;
  }
  .civilogo {
    height: 40px;
    margin: 5px;
  }
  .navd2 {
    padding-top: 20px;
    padding-left: 50px;
    display: none;
  }
  .navd2i {
    text-decoration: none;
    color: rgb(62, 115, 230);
    border-style: solid;
    border-radius: 5px;
    padding: 5px;
  }
  .nav2dii {
    text-decoration: none;
    padding-left: 30px;
    color: black;
  }
  .nav2dii:hover {
    color: rgb(62, 115, 230);
  }
  .nav2diii {
    text-decoration: none;
    padding-left: 30px;
    color: black;
  }
  .nav2diii:hover {
    color: rgb(62, 115, 230);
  }
  .nav2div {
    text-decoration: none;
    padding-left: 30px;
    color: black;
  }
  .nav2div:hover {
    color: rgb(62, 115, 230);
  }
  #nav2dv {
    text-decoration: none;
    padding-left: 30px;
    color: black;
  }
  #nav2dv:hover {
    color: rgb(62, 115, 230);
  }
  .navd3 {
    display: none;
    margin-left: 80px;
    padding-top: 20px;
  }
  #navd3i {
    padding-left: 20px;
    font-size: smaller;
    opacity: 0.8;
  }
  #navd3i:hover {
    color: rgb(62, 115, 230);
  }
  #ngl {
    height: 25px;
    padding-left: 30px;
  }
  #navd3ii {
    padding-left: 30px;
    font-size: smaller;
    opacity: 0.8;
  }
  #navd3ii:hover {
    color: rgb(62, 115, 230);
  }
  #navd3iii {
    padding-left: 30px;
    font-size: smaller;
    opacity: 0.8;
  }
  #navd3iii:hover {
    color: rgb(62, 115, 230);
  }
  .navd3iv {
    padding-left: 30px;
    text-decoration: none;
    color: black;
    opacity: 0.8;
  }
  .navd3iv:hover {
    color: rgb(62, 115, 230);
  }
  .navd3v {
    padding-left: 30px;
    text-decoration: none;
    color: black;
    opacity: 0.8;
  }
  .navd3v:hover {
    color: rgb(62, 115, 230);
  }
  .navd4 {
    margin-left: 20px;
    background-color: orange;
    margin-top: 10px;
    margin-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: none;
  }
  .navd4:hover {
    background-color: darkorange;
  }
  .navd4i {
    color: white;
    text-decoration: none;
  }
}

header {
  background-image: url(copy\ flight.webp);
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 100;
}
.hd1 {
  color: white;
  padding-top: 40px;
  display: flex;
  font-size: 60px;
  padding-left: 70px;
  font-weight: bolder;
}
.hd1i {
  color: darkorange;
}
.hd2h {
  padding-left: 130px;
  margin-top: 40px;
}
.hd2 {
  display: flex;
  color: white;
}
#hd2i {
  background-color: rgb(62, 115, 230, 0.7);
  display: flex;
  padding: 10px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.hd2ic {
  padding-top: 10px;
}
#hd2ii {
  background: none;
  display: flex;
  padding: 10px;
}
.hd2ii {
  padding-top: 15px;
  padding-left: 10px;
}
.hd2iic {
  padding-left: 7px;
  padding-top: 15px;
}
#hd2iii {
  padding-left: 20px;
  padding-top: 10px;
}
#hd2iv {
  padding-left: 10px;
  background: none;
  display: flex;
  padding-top: 15px;
}
.hd2ivc {
  padding-top: 15px;
  padding-left: 7px;
}

@media (max-width: 768px) {
  header {
    background-image: url(rbg.webp);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 100;
  }
  .hd1 {
    color: white;
    padding-top: 40px;
    display: flex;
    font-size: 1.7rem;
    padding-left: 30px;
    font-weight: bolder;
  }
  .hd1i {
    color: darkorange;
  }
  .hd2h {
    padding-left: 15px;
    margin-top: 40px;
  }
  .hd2 {
    display: flex;
    color: white;
  }
  #hd2i {
    background-color: rgb(62, 115, 230, 0.7);
    display: flex;
    padding: 10px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    font-size: 0.8rem;
  }
  .hd2ic {
    padding-top: 20px;
  }
  #hd2ii {
    background: none;
    display: flex;
    padding: 10px;
  }
  .hd2ii {
    padding-top: 20px;
    padding-left: 10px;
    font-size: 0.8rem;
  }
  .hd2iic {
    padding-left: 7px;
    padding-top: 20px;
  }
  #hd2iii {
    padding-left: 5px;
    padding-top: 20px;
  }
  #hd2iv {
    padding-left: 10px;
    background: none;
    display: flex;
    padding-top: 20px;
    font-size: 0.8rem;
  }
  .hd2ivc {
    padding-top: 20px;
    padding-left: 7px;
    font-size: 0.8rem;
  }
}

article {
  display: flex;
  justify-content: space-between;
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 120px;
}
.arti {
  border-style: solid;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-width: 1px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 5px;
  border-color: slategrey;
}
.artii {
  border-style: solid;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-width: 1px;
  border-radius: 5px;
  border-color: slategrey;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.artiic {
  font-size: 25px;
  font-weight: bolder;
}
.artiicc {
  padding-top: 15px;
}
.art2 {
  display: flex;
  margin-top: 15px;
  padding: 5px;
}
.art2i {
  padding-right: 180px;
  padding-left: 20px;
  border-style: solid;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 0;
  border-top-width: 1px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border-color: slategrey;
  padding-top: 9px;
  padding-bottom: 9px;
  opacity: 0.7;
}
.art2ii {
  padding-left: 35px;
  background-color: darkorange;
  padding-right: 35px;
  padding-top: 9px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

@media (max-width: 768px) {
  article {
    display: block;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 50px;
  }
  .arti {
    border-style: solid;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-width: 1px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 5px;
    border-color: slategrey;
    height: 73px;
  }
  .artii {
    border-style: solid;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-width: 1px;
    border-radius: 5px;
    border-color: slategrey;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: block;
    margin-top: 30px;
  }
  .artiic {
    font-size: 0.9rem;
    font-weight: bolder;
  }
  .artiicc {
    padding-top: 15px;
    font-size: 0.8rem;
  }
  .art2 {
    display: flex;
    margin-top: 15px;
    padding: 0px;
  }
  .art2i {
    padding-right: 10px;
    padding-left: 10px;
    border-style: solid;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 0;
    border-top-width: 1px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-color: slategrey;
    padding-top: 9px;
    padding-bottom: 9px;
    opacity: 0.7;
    font-size: 0.8rem;
  }
  .art2ii {
    padding-left: 10px;
    background-color: darkorange;
    padding-right: 10px;
    padding-top: 9px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 0.8rem;
  }
}

aside {
  margin-top: 100px;
  margin-left: 70px;
}
.as {
  font-size: 25px;
}
.as1 {
  padding-top: 25px;
}
.as2 {
  padding-top: 25px;
}
.as3 {
  padding-top: 25px;
}

@media (max-width: 768px) {
  aside {
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .as {
    font-size: 0.9rem;
    font-weight: bolder;
  }
  .as1 {
    padding-top: 25px;
    font-size: 0.8rem;
  }
  .as2 {
    padding-top: 25px;
    font-size: 0.8rem;
  }
  .as3 {
    padding-top: 25px;
    font-size: 0.8rem;
  }
}

.dh {
  margin-top: 100px;
  margin-left: 70px;
}
.dh1 {
  font-size: 25px;
}
.dh2 {
  display: flex;
  padding-top: 25px;
  opacity: 0.8;
}
.dh3 {
  display: flex;
  padding-top: 25px;
  opacity: 0.8;
}
.dh4 {
  display: flex;
  padding-top: 25px;
  opacity: 0.8;
}
.dh5 {
  display: flex;
  padding-top: 25px;
  opacity: 0.8;
}
.dh6 {
  display: flex;
  padding-top: 25px;
  opacity: 0.8;
}
.dp {
  margin-right: 10px;
  background-color: rgb(62, 115, 230);
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-width: 1px;
  border-radius: 2.5px;
}

@media (max-width: 768px) {
  .dh {
    margin-top: 50px;
    margin-left: 20px;
  }
  .dh1 {
    font-size: 0.9rem;
    font-weight: bolder;
  }
  .dh2 {
    display: flex;
    padding-top: 25px;
    opacity: 0.8;
    font-size: 0.8rem;
  }
  .dh3 {
    display: flex;
    padding-top: 25px;
    opacity: 0.8;
    font-size: 0.8rem;
  }
  .dh4 {
    display: flex;
    padding-top: 25px;
    opacity: 0.8;
    font-size: 0.8rem;

  }
  .dh5 {
    display: flex;
    padding-top: 25px;
    opacity: 0.8;
    font-size: 0.8rem;
  }
  .dh6 {
    display: flex;
    padding-top: 25px;
    opacity: 0.8;
    font-size: 0.8rem;
  }
  .dp {
    margin-right: 10px;
    background-color: rgb(62, 115, 230);
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-width: 1px;
    border-radius: 2.5px;
    display: none;
  }
}



.mm {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
  margin-left: 70px;
  margin-right: 70px;
}
.mimg {
  background-image: url(Dubai.jpg);
  background-size: cover;
  height: 33vh;
  width: 60vh;
  padding-left: 40px;
  padding-top: 27vh;
  font-size: 25px;
  color: white;
  font-weight: bolder;
}
.img2 {
  background-image: url(London.jpg);
  background-size: cover;
  height: 33vh;
  width: 60vh;
  padding-left: 40px;
  padding-top: 27vh;
  font-size: 25px;
  color: white;
  font-weight: bolder;
}
.img3 {
  background-image: url(New\ York.jpg);
  background-size: cover;
  height: 33vh;
  width: 60vh;
  padding-left: 40px;
  padding-top: 27vh;
  font-size: 25px;
  color: white;
  font-weight: bolder;
}
h1 {
  margin-top: 100px;
  margin-left: 70px;
}

@media (max-width: 768px) {
  .mm {
    display: block;
    margin-top: 10px;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
  }
  .mimg {
    background-image: url(Dubai.jpg);
    background-size: cover;
    height: 33vh;
    width: 50vh;
    padding-left: 40px;
    padding-top: 27vh;
    font-size: 25px;
    color: white;
    font-weight: bolder;
    margin-top: 30px;
  }
  .img2 {
    background-image: url(London.jpg);
    background-size: cover;
    height: 33vh;
    width: 50vh;
    padding-left: 40px;
    padding-top: 27vh;
    font-size: 25px;
    color: white;
    font-weight: bolder;
    margin-top: 15px;
  }
  .img3 {
    background-image: url(New\ York.jpg);
    background-size: cover;
    height: 33vh;
    width: 50vh;
    padding-left: 40px;
    padding-top: 27vh;
    font-size: 25px;
    color: white;
    font-weight: bolder;
    margin-top: 15px;
  }
  h1 {
    margin-top: 50px;
    margin-left: 0px;
    font-size: 1rem;
    text-align: center;
  }
}

.dl {
  margin-left: 70px;
  margin-top: 100px;
  margin-right: 70px;
}
.dli {
  font-size: 25px;
}
.dlii {
  padding-top: 20px;
  opacity: 0.7;
}
.dliii {
  padding-top: 20px;
}

@media (max-width: 768px) {
  .dl {
    margin-left: 20px;
    margin-top: 50px;
    margin-right: 20px;
  }
  .dli {
    font-size: 1rem;
    font-weight: bolder;
  }
  .dlii {
    padding-top: 20px;
    opacity: 0.7;
    font-size: 0.8rem;
  }
  .dliii {
    padding-top: 20px;
    font-size: 0.8rem;
  }
}

footer {
  background-color: rgb(62, 115, 230, 0.4);
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 100px;
  font-weight: bolder;
}

@media (max-width:768px) {
  footer {
    background-color: rgb(62, 115, 230, 0.4);
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 60px;
    font-weight: bolder;
    font-size: 0.8rem;
  }
}

#fhd1 {
  background-color: rgb(62, 115, 230, 0.7);
  margin-right: 130px;
  display: block;
}
#fhd1i {
  margin-left: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 30px;
  border-radius: 5px;
  background-color: rgba(84, 129, 228, 0.7);
  border-style: none;
  color: white;
}
#fhd1ii {
  margin-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 30px;
  border-radius: 5px;
  background-color: rgba(84, 129, 228, 0.7);
  border-style: none;
  color: white;
}
#fhd1iii {
  margin-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 30px;
  border-radius: 5px;
  background-color: rgba(84, 129, 228, 0.7);
  border-style: none;
  color: white;
}
#df {
  margin-left: 30px;
  margin-top: 30px;
  margin-right: 30px;
}
#df1 {
  padding: 25px;
  border-radius: 10px;
  border-style: none;
}
#df2 {
  padding: 25px;
  border-radius: 10px;
  border-style: none;
  margin-left: 30px;
}
#df3 {
  padding: 25px;
  border-radius: 10px;
  border-style: none;
  margin-left: 30px;
}
#df4 {
  padding: 25px;
  border-radius: 10px;
  border-style: none;
  margin-left: 30px;
}
#df5 {
  background-color: darkorange;
  color: white;
  padding: 25px;
  border-radius: 10px;
  margin-left: 50px;
  border-style: none;
}
#df11 {
  padding: 25px;
  border-radius: 10px;
  border-style: none;
}
#df22 {
  padding: 25px;
  border-radius: 10px;
  border-style: none;
  margin-left: 30px;
}
#df33 {
  padding: 25px;
  border-radius: 10px;
  border-style: none;
  margin-left: 30px;
}
#df44 {
  padding: 25px;
  border-radius: 10px;
  border-style: none;
  margin-left: 30px;
}
#df55 {
  background-color: darkorange;
  color: white;
  padding: 25px;
  border-radius: 10px;
  margin-left: 50px;
  border-style: none;
}
#dfi {
  color: white;
  padding-top: 20px;
  padding-bottom: 30px;
  margin-left: 30px;
}
.dfi1 {
  margin-left: 500px;
  background-color: rgba(84, 129, 228, 0.7);
  border-radius: 10px;
  border-style: none;
}
.dfi2 {
  margin-left: 5px;
}
.dfi3 {
  margin-left: 130px;
}
#fhd2 {
  background-color: rgb(62, 115, 230, 0.7);
  margin-right: 130px;
  display: none;
  padding-top: 30px;
}
.fhd2i {
  margin-left: 30px;
  color: white;
  margin-top: 30px;
}
.fhd2ii {
  margin-left: 25px;
}
.fhd2iic {
  margin-left: 10px;
  color: white;
}
.fhd2iii {
  margin-left: 25px;
}
.fdh2iiic {
  margin-left: 10px;
  color: white;
}
.fhd2iv {
  text-decoration: underline;
  margin-left: 25px;
  color: white;
}
.dff {
  padding-top: 25px;
  padding-bottom: 35px;
  color: white;
  margin-left: 900px;
}

@media (max-width: 768px) {
  #fhd1 {
    background-color: rgb(62, 115, 230, 0.7);
    margin-right: 20px;
    display: block;
  }
  #fhd1i {
    margin-left: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 30px;
    border-radius: 5px;
    background-color: rgba(84, 129, 228, 0.7);
    border-style: none;
    color: white;
    display: none;
  }
  #fhd1ii {
    margin-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 30px;
    border-radius: 5px;
    background-color: rgba(84, 129, 228, 0.7);
    border-style: none;
    color: white;
    display: none;
  }
  #fhd1iii {
    margin-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 30px;
    border-radius: 5px;
    background-color: rgba(84, 129, 228, 0.7);
    border-style: none;
    color: white;
    display: none;
  }
  #df {
    margin-left: 30px;
    margin-top: 0px;
    margin-right: 30px;
    display: block;
    padding-top: 30px;
  }
  #df1 {
    padding: 10px;
    border-radius: 5px;
    border-style: none;
  }
  #df2 {
    padding: 10px;
    border-radius: 5px;
    border-style: none;
    margin-left: 0px;
    margin-top: 10px;
  }
  #df3 {
    padding: 10px;
    padding-right: 68px;
    border-radius: 5px;
    border-style: none;
    margin-left: 0px;
    margin-top: 10px;
  }
  #df4 {
    padding: 10px;
    padding-right: 68px;
    border-radius: 5px;
    border-style: none;
    margin-left: 0px;
    margin-top: 10px;
  }
  #df5 {
    background-color: darkorange;
    color: white;
    padding: 10px;
    padding-right: 70px;
    padding-left: 70px;
    border-radius: 5px;
    margin-left: 0px;
    border-style: none;
    margin-top: 10px;
  }
  #df11 {
    padding: 10px;
    border-radius: 5px;
    border-style: none;
  }
  #df22 {
    padding: 10px;
    border-radius: 5px;
    border-style: none;
    margin-left: 0px;
    padding-right: 68px;
    margin-top: 10px;
  }
  #df33 {
    padding: 10px;
    border-radius: 5px;
    border-style: none;
    margin-left: 0px;
    padding-right: 68px;
    margin-top: 10px;
  }
  #df44 {
    padding: 10px;
    border-radius: 5px;
    border-style: none;
    margin-left: 0px;
    margin-top: 10px;
  }
  #df55 {
    background-color: darkorange;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-left: 0px;
    border-style: none;
    margin-top: 10px;
    padding-left: 73px;
    padding-right: 73px;
  }
  #dfi {
    color: white;
    padding-top: 20px;
    padding-bottom: 30px;
    margin-left: 30px;
  }
  .dfi1 {
    margin-left: 500px;
    background-color: rgba(84, 129, 228, 0.7);
    border-radius: 10px;
    border-style: none;
    display: none;
  }
  .dfi2 {
    margin-left: 5px;
    font-size: 0.8rem;
  }
  .dfi3 {
    margin-left: 5px;
    font-size: 0.8rem;
    display: block;
  }
  #fhd2 {
    background-color: rgb(62, 115, 230, 0.7);
    margin-right: 13px;
    display: none;
    padding-top: 10px;
  }
  .fhd2i {
    margin-left: 30px;
    color: white;
    margin-top: 30px;
    display: none;
  }
  .fhd2ii {
    margin-left: 25px;
    display: none;
  }
  .fhd2iic {
    margin-left: 10px;
    color: white;
    display: none;
  }
  .fhd2iii {
    margin-left: 25px;
    display: none;
  }
  .fdh2iiic {
    margin-left: 10px;
    color: white;
    display: none;
  }
  .fhd2iv {
    text-decoration: underline;
    margin-left: 25px;
    color: white;
    display: none;
  }
  .dff {
    padding-top: 25px;
    padding-bottom: 35px;
    color: white;
    margin-left: 30px;
    font-size: 0.8rem;
  }  
}